.bio {
  /* margin: 0; */
}

.bio-about {
  display: grid;
  margin: 30px 0;
  grid-gap: 40px 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "title title title"
    "avatar text text"
    "edu edu edu";
}

.bio-title {
  grid-area: title;
  text-align: center;
  font-size: 36px;
  font-weight: 300;
}

.bio-avatar {
  grid-area: avatar;
  text-align: center;
  height: 350px;
  padding: 5%;
}

.bio-avatar img {
  height: 100%;
}

.bio-text {
  grid-area: text;
  padding: 5%;
  height: fit-content;
  font-size: 26px;
  font-weight: 200;
}

.bio-education {
  grid-area: edu;
  font-size: 22px;
  font-weight: 300;
  display: grid;
  grid-gap: 20px 0;
}

.bio-education-title {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 30px;
}

.education-card {
  margin: 0 20px;
  padding: 20px 30px;
  border: 2px solid rgba(135, 135, 135, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 5px 2px rgba(135, 135, 135, 0.3);
  transition: all 300ms ease-out;
}

.education-card:hover {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 0 0 9px 5px rgba(135, 135, 135, 0.5),
    inset 0 0 5px 2px rgba(135, 135, 135, 0.1);
}

.education-card {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-areas: "logo info";
  grid-gap: 0 30px;
}

.education-card-logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  justify-content: center;
}

.education-card-info {
  grid-area: info;
}

.exams > .education-card-info {
  padding: 20px 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.exam {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  /* color: #333; */
  list-style-type: none;
  text-decoration: none;
}

.block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  /* fill: purple; */
}

.box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  border-radius: 50%;
  /* background-color: #292929; */
  /* box-shadow: 0 0 5px 3px #222121; */

  z-index: 10;
}

.box::before {
  position: absolute;
  content: "";
  width: calc(100% + 28px);
  height: calc(100% + 28px);
  border-radius: 50%;
  /* border: 1px solid #353535; */
}

.box .number span {
  /* color: #e9e9e9; */
}

.box .number .num {
  font-size: 30px;
  /* font-weight: bold; */
  font-weight: 500;
}

.box .number {
  font-size: 20px;
}

.box .title {
  font-size: 15px;
  /* color: #9b9b9b; */
}

/* .svg {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

foreignObject.logoBack {
  transform-origin: 50px 50px;
}

div.logoGradient {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(
    #ff4800 5%,
    #ff8c00 30%,
    #dfd902 50%,
    #91d12b 70%,
    #0cea6c 85%,
    #00ff9d 100%
  );
}

g.logoBlend > rect {
  border-radius: 100%;
}

g.logoBlend > path {
  stroke-width: 6;
  stroke-dasharray: 360;
  stroke-linecap: round;
  fill: none;
  transform-origin: 50px 50px;
  transform: rotate(185deg);
  stroke-dashoffset: 360;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transition: 2s stroke-dashoffset;
} */
