
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  /* color: #333; */
  list-style-type: none;
  text-decoration: none;
}

.bio {
  /* margin: 0; */
}

.bio-about {
  display: grid;
  margin: 40px 0;
  grid-gap: 40px 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "title title title"
    "avatar text text";
}

.bio-title {
  grid-area: title;
  text-align: center;
  font-size: 36px;
  font-weight: 300;
}

.bio-avatar {
  grid-area: avatar;
  text-align: center;
  /* height: 350px; */
  padding: 5%;
}

.bio-avatar img {
  /* height: 100%; */
  width: 80%;
}

.bio-text {
  grid-area: text;
  padding: 5%;
  height: fit-content;
  /* font-size: 26px; */
  /* font-weight: 200; */

  font-size: clamp(0.9rem, 1.75vw, 1.5rem);
  /* font-size: clamp(0.6rem, 26px, 30px); */
}

.bio-education {
  margin: 60px 0 20px;
  font-size: 22px;
  font-weight: 300;
  display: grid;
  grid-gap: 20px 0;
}

.bio-education-title {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 30px;
}

.education-card {
  margin: 0 20px;
  padding: 20px 30px;
  border: 2px solid rgba(135, 135, 135, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 5px 2px rgba(135, 135, 135, 0.3);
  transition: all 300ms ease-out;
}

.education-card:hover {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 0 0 9px 5px rgba(135, 135, 135, 0.5),
    inset 0 0 5px 2px rgba(135, 135, 135, 0.1);
}

.education-card {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-areas: "prev info";
  grid-gap: 0 30px;
}

.education-card-prev {
  grid-area: prev;
  text-align: center;
}

.education-card-prev p {
  font-size: 14px;
  font-weight: 400;
  color: gray;
}

.education-card-logo {
  /* grid-area: logo; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.education-card-info {
  grid-area: info;
}

.exams {
  min-height: 40vh;
}

.exams > .education-card-info {
  padding: 5px 0;
  /* margin: 5% 0; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.exam {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  text-align: center;
}

/* @media screen and (min-width: 900px) and (max-width: 1600px) {
  * {
    color: red;
  }
}

@media screen and (min-width: 400px) and (max-width: 900px) {
  * {
    color: blueviolet;
  }
} */
