.svg {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

foreignObject.logoBack {
  transform-origin: 50px 50px;
}

div.logoGradient {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(
    #ff4800 5%,
    #ff8c00 30%,
    #dfd902 50%,
    #91d12b 70%,
    #0cea6c 85%,
    #00ff9d 100%
  );
}

g.logoBlend > rect {
  border-radius: 100%;
}

g.logoBlend > path {
  stroke-width: 6;
  stroke-dasharray: 360;
  stroke-linecap: round;
  fill: none;
  transform-origin: 50px 50px;
  transform: rotate(185deg);
  stroke-dashoffset: 360;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transition: 2s stroke-dashoffset;
}
