.block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 180px;
  height: 180px; */
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /* fill: purple; */
  margin: 10px 10%;
}

.box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  border-radius: 50%;
  /* background-color: #292929; */
  /* box-shadow: 0 0 5px 3px #222121; */

  z-index: 10;
}

.box::before {
  position: absolute;
  content: "";
  width: calc(100% + 28px);
  height: calc(100% + 28px);
  border-radius: 50%;
  /* border: 1px solid #353535; */
}

.box .number span {
  /* color: #e9e9e9; */
}

.box .number .num {
  /* font-size: 30px; */
  /* font-size: 2.5vw; */
  font-size: var(--exam-num);
  /* font-weight: bold; */
  font-weight: 400;
}

/* .box .number {
  font-size: 20px;
} */

.box .title {
  /* font-size: 15px; */
  /* font-size: 1vw; */
  font-size: var(--exam-text);
  text-align: center;
  /* color: #9b9b9b; */
}

.svg {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

foreignObject.logoBack {
  transform-origin: 50px 50px;
}

div.logoGradient {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(
    #ff5e00 5%,
    #ff8c00 30%,
    #dfd902 50%,
    #91d12b 70%,
    #66ff00 85%,
    #91ff00 100%
  );
}

g.logoBlend > rect {
  border-radius: 100%;
}

g.logoBlend > path {
  stroke-width: 6;
  stroke-dasharray: 360;
  stroke-linecap: round;
  fill: none;
  transform-origin: 50px 50px;
  transform: rotate(185deg);
  stroke-dashoffset: 360;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transition: 2s stroke-dashoffset;
}
