* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.App {
  max-width: 1800px;
}

.bio-container {
  margin-top: 5.25rem;
}

@media screen and (max-width: 1000px) {
  .bio-container {
    margin-top: 5.5rem;
  }
}

@media screen and (max-width: 800px) {
  .bio-container {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 600px) {
  .bio-container {
    margin-top: 6.5rem;
  }
}

@media screen and (max-width: 400px) {
  .bio-container {
    margin-top: 7rem;
  }
}

.centered-horizontally {
  display: flex;
  justify-content: center;
}

.centered-vertically {
  display: flex;
  align-items: center;
}

.hard-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
