.navbar {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    grid-template-areas:
            "logo mainbar buttonbar";
}

.logo {
    grid-area: logo;
    margin: 20px;
    font-size: 22px;
}

.mainbar {
    grid-area: mainbar;
    margin: 20px;
    font-size: 22px;
}

.buttonbar {
    grid-area: buttonbar;
    margin: 20px;
    font-size: 22px;
}