.navbar {
    display: grid;
    grid-template-columns: 2fr 7fr 2fr;
    grid-gap: 20px;
    grid-template-areas:
            "logo mainbar buttonbar";
    border-bottom: 1px whitesmoke solid;
    box-shadow: 0 0 9px 4px rgba(0, 0, 0, 0.15), 0 -5px 2px 2px rgba(0, 0, 0, 0.1);
}

.logo {
    grid-area: logo;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 5px;
    margin: 10px 20px;
    font-size: 30px;
    font-weight: 400;
}

.logopic {
    max-width: 60px;
}

.logotext {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainbar {
    grid-area: mainbar;
    margin: 0 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 22px;
    font-weight: 300;

}

.mainbar a {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainbar a:hover,
.mainbar a:focus {
    background-color: whitesmoke;
}

.buttonbar {
    grid-area: buttonbar;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 22px;
    box-sizing: border-box;
}


input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}
input[type=checkbox]:focus {
    outline: 0;
}

.toggle {
    height: 32px;
    width: 52px;
    border-radius: 16px;
    display: inline-block;
    position: relative;
    margin: 0;
    border: 2px solid #474755;
    background: linear-gradient(180deg, #2D2F39 0%, #1F2027 100%);
    transition: all 0.2s ease;
}
.toggle:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
    transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}
.toggle:checked {
    border-color: hotpink;
}
.toggle:checked:after {
    transform: translatex(20px);
}
